<div ng-controller="ExampleTypescriptController as controllerVm">

    <input ng-model="controllerVm.name"> <button ng-click="controllerVm.sayHello()">SAY HELLO</button>
    <div>
        <strong>BINDING: </strong>
        Hello, {{controllerVm.name}}!
    </div>
    <div>
        <strong>ACTION: </strong>
        {{controllerVm.greeting}}
    </div>

</div>

<example-directive></example-directive>